    <div class="aler alert-danger">
      <!-- <h2><%#= pluralize(@basicpay.errors.count, "error") %> prohibited this basicpay from being saved:</h2> -->

      <ul>
      <% @basicpay.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>