<%= form_for(@basicpay,remote: true) do |f| %>
  
  <div class="form-group">

    <%= f.label :salary %><br>
    <%= f.text_field :salary , class:"form-control"%>
    <span id="salaryError"></span>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script type="text/javascript">

   
 
 var salaryHandle = document.getElementById('basicpay_location');
  

  var salaryErrorHandle = document.getElementById('salaryError');
  
  
    
    validate = {
         "salary": false
          }

     function validatesalary(){
        if(salaryHandle.value == "") {
        salaryErrorHandle.innerHTML = "Can't be blank";
          validate.salary = false;
       }else{
          salaryErrorHandle.innerHTML = "";
          validate.salary = true; 
         } 
     }   

    
    

   var formHandle = document.getElementById('new_basicpay');
   formHandle.addEventListener('submit', function(e){
     validatesalary();
    if(Object.values(validate).includes(false)){
       e.preventDefault();
       console.log("validate exist")
     }

     },false);

   


   </script>

