    <div id="aler alert-danger">
      <!-- <h2><%#= pluralize(@loan.errors.count, "error") %> prohibited this loan from being saved:</h2> -->

      <ul>
      <% @loan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>